<h1>Welcome To Hackerspace</h1>
<h2>Register now to access all! </h2>
<%= link_to "Register", new_user_path %>
<p>
  Now you are signed as <strong> <%= user? ? 'user':'' %><%= partner? ? 'partner':'' %><%= admin? ? 'admin':'' %> </strong>
</p>
